* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
/*Контейнеры*/
.header {
    background:url("../img/header_photo.jpg") no-repeat center/cover;
    width: 100%;
}


.header_top {
    max-width: 1656px;
    margin: 0 auto;
}
.header_container {
    padding: 27px 40px 27px 40px;
}

.nav {
    display: flex;
    justify-content: space-between;
    /*margin-bottom: 20px;*/

}

/*Лого*/
.logo {
    margin-right: auto;
}

.img-logo {
    /*width: 483px;*/
    background-position: center;
}


.logo-link {
    display: block;
    margin: 0;
}



/*Иконки и текст*/
.nav-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin-top: -10px;

}
.info-item {
    display: flex;
    padding: 10px;
    width: 35%;
    align-items: center;
    justify-content: flex-end;
}

.text-info {
    padding-left: 30px;
}
.icon {
    width: 42px;
    /*height: 42px;*/
}


.first_line_info_text {
    font-family: 'Open Sans', Arial sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}
.second-line_info_text {
    font-family:'Open Sans', Arial sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

/*Карусель*/
.slider_container {
    margin: 0 auto;
    padding: 0;
    /*max-width: 1656px;*/

}

.slider_item {
    /*max-width: 1065px;*/
    margin: 0 auto;
}

.slider {
    position: relative;
    padding: 0 80px;
    margin: 0 auto;
/*// поля между стрелкой и краем слайдера*/
}

.slider__img {

    width: 1065px;
    margin-top: -10px;
}


.slider .slick-arrow{
    position: absolute;
    top: 50%;
    margin: -15px 0 0 0;
    z-index: 0;
    font-size: 0;
    width: 33px;
    height: 50px;
}

.slider .slick-arrow.slick-prev{
    left: 0;
    background: url('../img/slider/left_arrow.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next{
    right: 0;
    background: url('../img/slider/right_arrow.svg') 0 0 / 100% no-repeat;
}